<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Checklist</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">Travel Checklist</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      <div>
        <div>Welcome! We created this site so that travellers like you could keep track of countries you want to visit!</div>
        <p>Log in or create an account if you don't have one yet. Once you log in you will be able to search for any country you want to visit and see information about the country, for example, the capital, population, common languages, visa requirements and travel restrictions. Click the 'Save" button next to the country. It will then be added to a list with any other countries you have saved!</p>
        <div id="login-button">
          <button>login</button>
        </div>
        <div id="create-account">
          <button>Create an account</button>
        </div>
      </div>
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>
