<div id="partition">
    <h1>Welcome!</h1>

    <p>
        On this page, you can search for countries and save the locations you wish to visit. Upon saving, you will be
        able
        to view any travel restrictions such as visa requirements.
        You can sign into your account by clicking on the button on the top right of your screen. If you do not have an
        account yet, you can also click on the same button in order to create one.
    </p>
</div>