

<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Search for a country!:</h3>

    <input type="text" placeholder="Italy" id="searchInput">
    <button type="search" id="search">Search</button>

    <section class="card" id="card">
      <div class="card" id="name"></div>
      <div class="card" id="capital"></div>
      <div class="card" id="continent"></div>
      <div class="card" id="currencies"></div>
      <div class="card" id="languages"></div>
      <div class="card" id="timezone"></div>
      <div class="card" id="maps"></div>
      <div class="card" id="visa"></div>
      <button type="button" id="save">Save to my list</button>
      
    </section>
    <h2 id="saved"></h2>
  </div>
{{!-- 
  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} --}}
</div>

<script src="./js/profile.js"></script>
