header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
  background-color: white;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

body {
  background-color: #010e82;
}

main {
  color: white;
}

#partition {
  padding: 20px;
  background-color: #000640;
}

.curved-button {
  background-color: #e6e6e8;
}